.menu-nav {
    .menu-items .dropdown {
        cursor: pointer;

        .dropdown-menu {
            display: none;
            top: 40px;
            box-shadow: 2px 4px 7px #ebebeb;
            border: none;
        }

        .dropdown-menu span {
            display: inline-block;
        }

        .dropdown-menu.active {
            display: block;
        }
    }

    .menu-mobi {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .header-bottom {
        .header-bottom-action {
            justify-content: space-around !important;
        }

        .compare-product ,
        .favorite-whislist {
            display: none !important;
        }
    }

    .menu-bottom {
        .menu-mobi.active {
            display: block;
        }
    }
}