// ----------BACKGROUND_COLOR_VARIABLE----------//
$main-color: #131921;
$secondary-color: #3b4149;
$color-white: #fff;
$color-danger: #b12b1f;
$color-warning: #d17946;
$color-success: #4267b2;
$color-error: #cf4b4b;

// ----------BACKGROUND_COLOR_VARIABLE----------//
$bg-main: #131921;
$bg-secondary: #232f3e;
$bg-white: #fff;
$bg-danger: #b12b1f;
$bg-warning: #d17946;
$bg-success: #4267b2;
$bg-error: #cf4b4b;

// ----------BTN----------//
$padding-top-button: 0.5rem;
$padding-bottom-button: 0.5rem;
$padding-left-button: 1rem;
$padding-right-button: 1rem;
$border-radius-sm: 0.75rem;

